[Unit]
Description=Puma Web Application Server
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=notify
WorkingDirectory=/example
#Environment=PUMA_DEBUG=1
#Environment=PUMA_WORKERS=2
#Environment=PUMA_MIN_THREADS=2
Environment=PUMA_MAX_THREADS=4
ExecStart=/example/bin/puma --debug
ExecReload=/bin/kill -USR1 $MAINPID
ExecRestart=/bin/kill -USR2 $MAINPID
WatchdogSec=30
Restart=always
KillMode=mixed
